@model RestX.Models.Tenants.Tenant

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tenant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Prefix" class="control-label"></label>
                <input asp-for="Prefix" class="form-control" />
                <span asp-validation-for="Prefix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogoUrl" class="control-label"></label>
                <input asp-for="LogoUrl" class="form-control" />
                <span asp-validation-for="LogoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FaviconUrl" class="control-label"></label>
                <input asp-for="FaviconUrl" class="form-control" />
                <span asp-validation-for="FaviconUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BackgroundUrl" class="control-label"></label>
                <input asp-for="BackgroundUrl" class="form-control" />
                <span asp-validation-for="BackgroundUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaseColor" class="control-label"></label>
                <input asp-for="BaseColor" class="form-control" />
                <span asp-validation-for="BaseColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimaryColor" class="control-label"></label>
                <input asp-for="PrimaryColor" class="form-control" />
                <span asp-validation-for="PrimaryColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondaryColor" class="control-label"></label>
                <input asp-for="SecondaryColor" class="form-control" />
                <span asp-validation-for="SecondaryColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanId" class="control-label"></label>
                <select asp-for="PlanId" class ="form-control" asp-items="ViewBag.PlanId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NetworkIp" class="control-label"></label>
                <input asp-for="NetworkIp" class="form-control" />
                <span asp-validation-for="NetworkIp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConnectionString" class="control-label"></label>
                <input asp-for="ConnectionString" class="form-control" />
                <span asp-validation-for="ConnectionString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Domain" class="control-label"></label>
                <input asp-for="Domain" class="form-control" />
                <span asp-validation-for="Domain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiredAt" class="control-label"></label>
                <input asp-for="ExpiredAt" class="form-control" />
                <span asp-validation-for="ExpiredAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
